<!DOCTYPE html>

{% load static %}

<html>
<head>
  <title>Tweet and Treat</title>
  <link rel="stylesheet" type="text/css" href="{% static "css/application.css" %}" />
</head>
<body>
  <h1>Welcome to Tweet and Treat</h1>
  <h3>Get rewarded for tweeting and being in the right place, at the right time</h3>
  
  <p>This app is geared for business owners who want to leverage the power of Twitter while {{ passing_info }} rewarding customers who promote their brand with short-term timed incentives. <a href='/deals/about'>Find out more!</a></p>

</body>
</html>

